h1{
    font-family: monospace;
    text-align: center;
    font-size: 45px

}

ul{
    font-family: monospace;
    font-size: 20px;
    list-style: none;
    text-align: left;
    display: inline-block;
    line-height: 40px
}

.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #dddddd;;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 25px
}

.list a{
    display: block;
    color: #000;
    padding: 8px 20px;
    text-decoration: none;
}

.list{
    color: white;
}

.list a:hover:not(.active) {
    background-color: #8B4513;
    color: white;
}

.btn{

    display: inline-block;
    border-radius: 4px;
    background-color: #8B4513;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 26px;
    padding: 10px;
    width: 75px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

.flex {
    display: flex;
    flex-wrap: wrap
}
.flex > div {
    width: 2000px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}